
#appContainer,#formContainer{
   
    padding:50px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
   
   background-color: #f1f2f4;
    font-family: Arial, sans-serif;
    
}

#appHeading{
    color: white;
    background-color: #465874;
    display: flex;

    justify-content: center;
    padding: 20px;
    width: 100%;
   
   

}
#appContainer>div{
    margin-bottom: 50px;
}
#listTodo{
    
    border-style: none;
    list-style: none;
    padding: 25px;
    width: 800px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: large;
    background-color: white;
    color: black;
    
}


#updateButton{
    background-color: #2a7db1;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#cancelButton{
    background-color: #c02d2d;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#addTodoButton,#logonButton{
     background-color:#137752;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#todoImage{
    width: 40px;
    height: 60px;
    margin-right: 50px;
}
#todoPara{
    font-size: 1.8rem;
}
.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    gap:20px;   
    font-size: 1.5rem; 
}
label{
    font-size: x-large;
}
#logonForm{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    margin-top: 90px;

}
.inputLogon{
   
    width: 30%;
    padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
  

}
.todoInput{
       width: 40%;
    padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #fff;
}
